$color-my-theme-left: #0fcaca;
$color-my-theme-right: #a39c9c;

$color-main-theme-left: #86A3B4;
$color-main-theme-right: #FFFFFF;


.my-theme .left {
    background:  $color-my-theme-left;
}

.my-theme .right {
    background: $color-my-theme-right;
}

.main-theme .left {
    background: $color-main-theme-left;
}

.main-theme .right {
    background: $color-main-theme-right;
}